@import url("https://fonts.googleapis.com/css2?family=Roboto");
*:focus {
  outline: none;
}

body {
  margin: 0;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
  margin: 0 16px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  height: 47px;
}
#nav-bar a {
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  padding: 6px;
}
#nav-bar a:hover {
  text-decoration: underline;
}

#logo {
  height: 271px;
}
#logo img {
  padding-top: 151px;
  display: block;
  margin: 0 auto;
  line-height: 233px;
}

.search-bar {
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  max-width: 558px;
  height: 36px;
  flex: 1;
  display: flex;
  padding: 4px 8px 4px 16px;
}
.search-bar .fa-search {
  display: flex;
  align-items: center;
  padding-right: 13px;
  color: #9aa0a6;
}
.search-bar #mic-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  padding: 0 8px;
  width: 30px;
}
.search-bar #mic-button .fa-microphone {
  color: #4285f4;
  height: 16px;
  width: 24px;
  padding-right: 5px;
  font-size: 17px;
}
.search-bar #search {
  border: none;
  display: flex;
  flex: 1;
  font-size: 16px;
}

.search-bar:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#search-buttons {
  text-align: center;
}
#search-buttons input {
  border: none;
  border-radius: 5px;
  background-color: #f9fafb;
  width: 128px;
  height: 36px;
  margin: 29px 3px 28px;
  padding: 10px 16px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
}
#search-buttons #lucky {
  width: 142px;
}
#search-buttons input:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #dcdcdd;
  padding: 9px 15px;
  cursor: pointer;
}

#img-logo-wrapper {
  padding-top: 151px;
}

#img-logo {
  margin: 0 auto;
  background: url("google-logo.png") no-repeat;
  background-size: 272px;
  width: 272px;
  height: 92px;
  padding-bottom: 21px;
}

#logo-subtext {
  color: #4285f4;
  font: 16px/16px Roboto, arial, sans-serif;
  left: 215px;
  position: relative;
  top: 76px;
  white-space: nowrap;
}

#search-form {
  text-align: center;
}

#search-form {
  margin: 0 auto;
  height: 136px;
}

#images-search-bar {
  display: flex;
  flex: 1;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  max-width: 514px;
  height: 36px;
  padding: 4px 4px 4px 16px;
}
#images-search-bar .fa-search {
  display: flex;
  align-items: center;
  color: #9aa0a6;
  padding-right: 10px;
}
#images-search-bar button {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  padding: 0 8px;
  width: 40px;
}
#images-search-bar button .fa-microphone,
#images-search-bar button .fa-search {
  vertical-align: center;
  color: #4285f4;
  height: 16px;
  font-size: 17px;
}
#images-search-bar button .fa-camera {
  vertical-align: center;
  color: #757575;
  height: 18px;
  font-size: 20px;
}
#images-search-bar #search {
  border: none;
  display: flex;
  flex: 1;
  font-size: 16px;
}

#images-search-bar:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#top {
  height: 60px;
  background-color: #f1f1f1;
}
#top div {
  width: 152px;
  padding: 16px 0 0 15px;
}

#advanced-logo {
  width: 91px;
  height: 31px;
}

header {
  border-bottom: 1px solid #ebebeb;
  height: 73px;
}
header #main-header {
  float: left;
  font-size: 20px;
  color: #de3025;
  font-family: Arial, sans-serif;
  margin: 25px 0 0 45px;
}

#advanced-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  padding-top: 40px;
}
#advanced-form .flex-item {
  margin-left: 45px;
  display: flex;
  height: 42px;
}
#advanced-form .flex-item #lidl-header {
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  padding-top: 6px;
}
#advanced-form .flex-item .label-text {
  max-width: 182.39px;
  min-width: 167px;
  flex: 1;
  font: 13px Arial, sans-serif;
  color: #222222;
  height: 42px;
  padding-top: 7px;
}
#advanced-form .flex-item .input-text {
  max-width: 552px;
  min-width: 239px;
  padding: 1px 8px;
  flex: 1 1 30em;
  height: 25px;
  border: 1px solid #c0c0c0;
}
#advanced-form .flex-item .fake {
  border: none;
  max-width: 570px;
  padding: 0;
}
#advanced-form .flex-item .helper {
  max-width: 344px;
  min-width: 0;
  flex: 2 2 20em;
  color: #555555;
  font: 11px Arial, sans-serif;
  margin: 0 0 8px 11px;
  padding: 8px 0 0 5px;
}
#advanced-form .flex-item .helper-head {
  color: #777777;
  font: 13px Arial, sans-serif;
  font-weight: 700;
}

.input-text:focus {
  outline: 1px solid #4d90fe;
}

.hidden {
  visibility: hidden;
}

.monospace {
  font-family: monospace;
}

@media (max-width: 1054px) {
  .helper {
    visibility: hidden;
  }
}

#advanced-submit {
  float: right;
  background-color: #4d90fe;
  color: white;
  padding: 0 12px;
  font: 11px Arial;
  font-weight: 700;
  line-height: 27px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#advanced-submit:hover {
  background-color: #4a8dfb;
}
